h1{
    font-family: "Ribeye Marrow", serif;
    font-size: 65px;
    text-indent: 220px;
    color: #120909;
    margin-top: 1px;
    margin-bottom: 1px;
}

.quote, h2{
    font-size: 30px;
    font-family: "Lilita One", sans-serif;
    text-align: center;
}

body {
    background-color: #f7d8ed;
  }

.highlight {
    color: #6e3668;
}

#portada{
    width: 40%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button{
    background-color: #ef6c96;
    border: 2px solid #120909;
    border-radius: 8px;
    color: #120909;
    font-family: "Lilita One", sans-serif;
    font-size: 20px;
    padding: 10px 24px;
    text-align: center;
    cursor: pointer;
    border-spacing: 50px;
    }

.portada {
    font-size: 30px;
    font-family: "Lilita One", sans-serif;
    text-indent: 220px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.saludo{
    font-size: 30px;
    font-family: "Lilita One", sans-serif;
    text-indent: 220px;
    margin-top: 50px;
    margin-bottom: 1px;
}

#perfil{
    width: 200px;
    border-radius: 8px;
    float: right;
    margin-right: 300px;
    vertical-align: top;
    margin-top: -150px;
    border-width: 3px;
    border-style: solid;
    border-color: #6e3668;
}

hr{
    color:#6e3668;
    height: 5px;
    width: 100%;
    background-color: #6e3668;
}

.descripcion{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}